export LOG_LEVEL=TRACE

export HTTP_HOST=0.0.0.0
export HTTP_PREFORK=true
export APP_NAME=rango

export KAFKA_BROKERS=localhost:9092

export API_CORS_ORIGINS=dev.huuhait.me,localhost:3000,localhost:8080,localhost

export RANGO_RBAC_SYSTEM=admin,superadmin,operator
export RANGO_RBAC_ADMIN=admin,superadmin

export JWT_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFxeFJQY3BIRmhKTmhaUlBPbTZLYgo0bnVJQzVVWkxxdjJPN3BYN29NelcySnJXd3ZjQ0J3TVRuTW90TjZOZGt4N3hCQ2lQaEZSWlNhNVo1WHppRjFsClNsd21ldkIyRGh6R2tjRGtYK0o3OUFOZG1IQVNoai83TVB4L1E2UUxjUEZMMGg5R3hkVmIzYWdSVzkwanFPc0oKSzZaRnBkdHlHdHBUeFM3ZGtveXl5SDRMVVBNeW5mNEh4cWZ2TnY4L2YvTmlJK0RJNFdPVkVRNmVoNGpManRYeQpxUHBuUU1UTmhFSlJqa3hvZ0lLWkJNMURKWC91NkVoVGJQVHZJUXpabDN5L3VyZHdBTkpKTjdEd1BGQ0tGS0owCmhKSXI5c0xEWXdONnU1Q3lJZ2pMYjRQNmlVZ0FFMTFGTERGaW1YOXRqMHlPMzhCSmFwMCtPdHhYZm0xWkJNQzAKbHdJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
